.btn {
    border: 1px solid #ECECEC !important;
    color: #A2A2A2 !important;
    text-transform: none !important;
    font-size: 12px !important;
}
.text {
    color: #6C2BD9 !important;
    font-size: 13px !important;
}

.customHeaders {
    font-size: 11px !important;
    color: #6B7280 !important;
    font-weight: 700 !important;
}
.cellText {
    font-size: 13px !important;
    color: #6B7280 !important;
    font-weight: 400 !important;
}
.rowcounts {
    font-size: 12px !important;
    color: #334155 !important;
    font-weight: 500 !important;
    padding-right: 50px;
}
.pagecount {
    font-weight: bold;
}

.pagebtn {
    font-size: 12px;
    background-color: white;
    border: 1px solid #D1D5DB;
    padding: 6px 12px;
    align-items: center;
    justify-content: center;
}
.activebtn {
    background-color: #EDE5FF !important;
    color: #6C2BD9 !important;
}
.numberbtn {
    font-size: 14px;
    font-weight: 500;
}
.exportbtn {
    font-size: 12px !important;
    margin-left: 5px !important;
    color: #A2A2A2 !important;
}
.paper {
    box-shadow: none !important;
}
.link {
    text-decoration: none !important;
}