.urlinputbox {
    height: 42px;
    width: 404px;
    border-radius: 8px;
    background-color: #F9FAFB;
    border: 1px;
    padding: 12px 16px;
}

.scrapebtn {
    width: 167px;
    height: 37px;
    background-color: #EDE5FF !important;
    color: #6C2BD9 !important;
    border-radius: 5px;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: 14px !important;
    line-height: 16.94px !important;
    padding: 6px 12px !important;
    justify-content: center;
}
.link {
    text-decoration: none !important;
    font-size: 14px !important;
    color: #374151 !important;
    font-weight: 500 !important;
}